/*
        Version 1.2
*/

/* IMPORTS ------------------------------------------------------------*/

@import url('reset.css');

@import url('typography.css');


/* HACKS ------------------------------------------------------------*/

.clear{
    clear:both;
    height:1px;
}

.inv{ display:none; }


/* GENERAL ------------------------------------------------------------*/

html,
body{ height: 100%; }

body {}

.home-quotes{
    margin: 43px 43px 43px 30px;
    padding-left: 30px;
    background: url(../img/quotes.png) no-repeat 0px 0px;
}

h1.header-line,
h2.header-line,
h3.header-line,
h4.header-line,
h5.header-line,
h6.header-line{
    padding-bottom: 21px;
    margin-bottom: 11px;
    background: url(../img/line-divider.png) repeat-x bottom center;
}

#logo{
    position:relative;
    margin-left: 23px;
}

/* WRAPPER ------------------------------------------------------------*/

#wrapper{
    overflow: hidden;
    width: 1365px;
    min-height: 100%;
    padding-bottom: 15px;
}

/* COLUMNS LAYOUT----------------------------------------------------------*/

.one-half,
.one-third,
.two-third,
.three-fourth,
.one-fourth {
    float:left;
    margin-right:30px;
    position:relative;
}

.one-half{
    width: 280px;
}

.one-third{width: 177px;}

.two-third{width: 384px;}

.last {
    clear:right;
    margin-right:0 !important;
}

/* SIDEBAR ------------------------------------------------------------*/

#sidebar{
    width: 285px;
    float: left;
}

.sidebar-divider{
    clear: both;
    width: 235px;
    height: 6px;
    margin: 21px 0px 21px 15px;
}

/* SEARCH FORM ------------------------------------------------------------*/

#sidebar #searchform{
    display: block;
    position: relative;
    margin-left: 15px;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 95px;
}

#sidebar #searchform #s{
    position:absolute;
    left:12px;
    width: 175px;
    height: 26px;
    padding: 2px 10px;
    margin: 0px;
    border: 0;
    background: url(../img/search-bg.png) no-repeat transparent 0px 0px;
}

#sidebar #searchform #feedName{
    position:absolute;
    margin-top: 40px; 
    left:12px;
    width: 175px;
    height: 26px;
    border: 0;
    padding: 2px 10px;
    background: url(../img/search-bg.png) no-repeat transparent 0px 0px;
}

#sidebar #searchform #searchsubmit{
    position: absolute; 
    top: 105px;
    left: 175px;
    width: 34px;
    height: 26px;
    border: 0px;
    background: url(../img/search-submit.png) no-repeat  transparent 0px 0px;
}

#sidebar #searchform #feedTip{
    position:absolute;
    top:105px;
    left:12px;
}

#sidebar #searchform #searchsubmit:hover{
    background-position: 0px -26px;
}

/* NAVIGATION ------------------------------------------------------------*/

#sidebar #nav{
    display: block;
    margin-left: 15px;	
    margin-right: 36px;
    padding-top: 15px;
    margin-bottom: 10px;
}

#sidebar #nav>li{
    display: block;
    height: 40px;
    margin-left: 10px;
    background: url(../img/nav-item.png) no-repeat transparent;
    border-top: 1px solid #636363;
    border-bottom: 1px solid #373737;
}

#sidebar #nav>li:hover,
#sidebar #nav>li.current-menu-item{
    background-position: 0px -40px;
}

#sidebar #nav>li a{
    display: block;
    padding-left: 45px;
    padding-top: 8px;
}

/* SIDEBAR - CATEGORIES ---------------------------------------------------*/

#sidebar .favorite{
    display: block;
    overflow: hidden;
    padding-top: 25px;
    margin-bottom: 20px;
    
    list-style-type: none;
    margin-left: 15px;
    margin-right: 36px;
    clear: both;
}

#sidebar .favorite #favImg{
    position:relative;
    margin-left: 57px;
}

/* MAIN ------------------------------------------------------------*/

#main{
    position:relative;
    margin-left: 330px;
    padding-top: 10px;
    width: 1050px;
    float: top;
}

/* HEADER ------------------------------------------------------------*/

#feed{
    width: 850px;
}

#feed #item{
    width:850px;
}

#main #feed #item #itemLink{
    margin-left: 20px;
    font-size: 18px;
    color: #FF0000;
}

#main #feed #item #savePic{
    margin-top: 3px;
    vertical-align: middle;
}

#main #feed #item #itemTime{
    margin-left: 36px;
    font-size:12px;
    color: #a5a3a0;
}

#main #feed #item #description{
    margin-left: 36px;
}

/* TOP ---------------------------------------------------------------*/
#top{
    position:fixed;
    top:650px;
    left:1350px;
}

/* FOOTER ------------------------------------------------------------*/

#footer{
    width: 100%;
    padding-top: 35px;
    padding-bottom: 25px;
}

#footer-wrapper{
    overflow: hidden;
    width: 950px;
}

/* FOOTER - COLS ------------------------------------------------------------*/

#footer-cols{
    display: block;
    overflow: hidden;
    margin-left: 15px;
    margin-bottom: 25px;
}

#footer-cols li.col{
    display: block;
    width: 280px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

#footer-cols li.clear-col{ clear:left; }

#footer-cols li.col ul{
    display: block;
}

#footer-cols li.col ul li{
    display: block;
    line-height: 35px;
    border-top: 1px solid #343434;
    border-bottom: 1px solid #000;
}

#footer-cols li.col ul li:first-child{ border-top: none; }

#footer-cols li.col ul li:last-child{ border-bottom: none; }	

/* FOOTER-BOTTOM ------------------------------------------------------------*/

#footer-bottom{ 
    margin-left: 15px;
    overflow: hidden;
}

#footer-bottom #bottom-left{
    float: left;
}

#footer-bottom #bottom-right{
    display: block;
    float: right;
    background: url(../img/to-top-arrow.png) no-repeat right 5px ;
    padding-right: 20px;
    cursor: pointer;
}



